@use "sass:map";

.Editor {
  display: grid;
}

textarea#edit {
  z-index: 1;
}

#highlight {
  z-index: 0;
}

textarea#edit, #highlight {
  grid-area: 1 / 1 / 2 / 2;
  margin: 10px;
  padding: 10px;
  border: 0;
  width: calc(100% - 32px);
  height: 150px;
  overflow-x: auto;
  overflow-y: scroll;
  white-space: pre-wrap;
  resize: none;
}

#highlight, #highlight * {
  user-select: none;
}

textarea#edit, #highlight, #highlight * {
  font-size: 12pt;
  font-family: monospace;
  line-height: 20pt;
}

//solarized
$colors: (
  'base03'  : #002b36,
  'base02'  : #073642,
  'base01'  : #586e75,
  'base00'  : #657b83,
  'base0'   : #839496,
  'base1'   : #93a1a1,
  'base2'   : #eee8d5,
  'base3'   : #fdf6e3,
  'yellow'  : #b58900,
  'orange'  : #cb4b16,
  'red'     : #dc322f,
  'magenta' : #d33682,
  'violet'  : #6c71c4,
  'blue'    : #268bd2,
  'cyan'    : #2aa198,
  'green'   : #859900,
);

#highlight {
  background-color: map.get($colors, 'base03');
  & code {
    color: map.get($colors, 'base0');
  }
  @each $color, $hex in $colors {
    & span.#{$color} {
      color: $hex;
    }
  }
}